.DS_Store
# Игнорировать настройки VS Code
.vscode/
.cache/
Vending_Machine/
docs/

# Игнорировать скомпилированные файлы
*.exe
*.o
*.out
*.txt
*.sh
*.puml
Doxyfile
plant.puml
.cache/clangd/index/
.clang-format
compile_commands.json

main

# Игнорировать все исполняемые файлы внутри проектов
# Projects/Vending_Machine/main
# Study/Mod_6/main

# Игнорировать исполняемые файлы
*.exe
main


